body{ 
    background-color: tan; 
  } 
h1{  
      text-align: center; 
  } 
.header{ 
      height: 40px; 
      width: 300px;  
  } 
.red{ 
      background-color: red; 
  }  
 .green{ 
      background-color: darkgreen; 
  } 
.blue{ 
      background-color: blue; 
  } 
.main{ 
      float: right; 
      height: 40px; 
      width: 100px;  
} 
.--red{ 
      background-color: red; 
  } 
.--green{ 
      background-color: green; 
  } 
.--blue{ 
      background-color: blue; 
  } 
 .--yellow{ 
      background-color: yellow; 
      height: 40px; 
      width: 300px; 
  } 